@page
@model Joost.Pages.Contact.IndexModel

@{
	ViewData["Title"] = "Index contact";
}

<h2>Contact</h2>

<p>
	<a asp-page="Create">Create</a> |
	<a asp-page="Calendar">Calendar</a>
</p>
<table class="table table-hover table-sm">
	<thead class="thead-light">
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Contact[0].Name)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Contact[0].IsPerson)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Contact[0].City)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Contact[0].Mail)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Contact[0].Phone)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Contact[0].BirthDate)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Contact[0].IsBirthYear)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.Contact)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Name)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.IsPerson)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.City)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Mail)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Phone)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.BirthDate)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.IsBirthYear)
				</td>
				<td>
					<a asp-page="./Edit" asp-route-id="@item.ContactID">Edit</a> |
					<a asp-page="./Delete" asp-route-id="@item.ContactID">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>
