@page "{searchString?}"
@model Joost.Pages.Journal.IndexModel
@using Joost.Data

@{
  ViewData["Title"] = "Journal index";
}

<h2>Journal</h2>

<p>
  <a asp-page="/Journal/Create">Create</a> | 
	<a asp-page="/Journal/OpenArticle">Create Open article</a>
</p>

<form>
  <div>
    <select asp-for="SearchEvent" asp-items="Model.Events">
      <option value="">All</option>
    </select>

    Message: <input type="text" name="SearchString" autofocus>
    <input type="submit" value="Filter" />
  </div>
  <p></p>
</form>

<form method="post">
  <table class="table table-hover table-sm">
    <thead class="thead-light">
      <tr>
        <th>Date</th>
        <th>Message</th>
        <th>Event</th>
        <th>Since</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      @foreach (var journal in Model.Journals)
      {
        <tr>
          <td>@journal.DTStart.DisplaySimpleDate()</td>
          <td>@journal.Message.MaxLength(80)</td>
          <td>@journal.Event</td>
          <td title="@journal.DTStart.DisplaySimpleDate()">@journal.DTStart.DateDiff()</td>
          <td>
            <a asp-page="./Edit" asp-route-id="@journal.LogID">Edit</a> |
            <a asp-page="./Delete" asp-route-id="@journal.LogID">Delete</a>
          </td>

        </tr>
      }
    </tbody>
  </table>

</form>